body{
  background-color: rgb(40, 2, 128);
}
.topnav {
    color: blue;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #3333335b;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #120944;
    color: rgba(43, 8, 100, 0.144);
  }
  .topnav {
    text-align: center;
  }
  
  #Zen {
    font-size: xx-large;
  }
  .zen {
    width: 25%;
    height: auto;
  }
.back {
  font-size: xx-large;
}

p{
  color: beige;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}


.Mani {
  font-size: xx-large;
}
h4 {
  font-size: larger;
}
.about{
  text-indent:30px ;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: antiquewhite;
}
a {
  color: rgb(110, 69, 15);
}
iframe {
  margin:0px;
}
p.fightatronmore {
  font-family: fantasy;
  color: rgb(231, 213, 213);
}

.Aboutmetitle {
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: x-large;
}