body {
    background-color: #0b7a73
  }

  p.a { 
    color: rgb(30, 210, 84);
  }

/* mouse over link */
a:hover {
    color: green;
  }

  /* selected link */
.a1:active {
    color: blue;
  }
  /* link color */
  .a1{
    color:red
  }

  :not(p.a,a) {
    color:white
  }
/* text-center */
  :not(p.a,a) {
    text-align: center;
  }

/* border */

  .column, .row {
   
  background-color: rgba(236, 142, 0, 0.527);;
  width: 300px;
  border: 15px solid rgba(236, 142, 0, 0.527);
  padding: 50px;
  margin: auto;
      
}

.a2 {
  color: blueviolet;
  font-family: fantasy;
}

body {
  background-image: url("Images/backgroundreapet.gif");
  background-repeat: repeat-y;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row {
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px;
}

#SamBarber {position: fixed; bottom: 10px; right: 5px;}

 #waylonwyatt,.pabout {
  float: left;

}
.pabout {
  float: right
}
.pabout {
  float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
